.caixa-azul {
    background-color: #51A5C9;
    background-attachment: fixed;
    height: calc(100vh - 200px);
}

.click:hover {
    color: #51A5C9!important;
}

#girl {
    padding-top: 90px;
}



/*@media (max-width: 600px) {

    #girl {
        display: none;
    }
}*/